p {
    text-align: center;
}

table {
    width: 96%;
    background-color: azure;
    border-style: solid;
    border-color: black;
    border-radius: 10px;
    padding: 1%;
    box-shadow: 10px 10px 10px rgb(0 0 0 / 10%);
}

table tr td {
    text-align: center;
}


/*Media query*/

@media screen and (max-width: 480px) {
    .horarios {
        margin-left: -15px;
        width: 95%;
    }
    table {
        width: 100%;
    }
    .dias {
        display: inline-table;
        width: 50%;
    }
    .horas {
        display: inline-table;
        width: 50%;
    }
    table {
        text-align: end;
    }
    table tr td {
        display: flex;
        width: 100%;
    }
}

@media screen and (max-width:300px) {
    .horarios {
        width: 100%;
    }
    .dias {
        margin-left: -10%;
    }
}