#lema {
    font-size: 12px;
}

.card {
    height: auto;
    margin-left: 38%;
    background-color: #42DF79;
    border: 5px;
    border-style: solid;
    border-radius: 15px;
}

.fondo {
    width: 100%;
    height: 100px;
}

.datos {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    background-color: #FCFCFC;
    border-radius: 0 0 10px 10px;
}

.datos img {
    width: 45%;
    height: auto;
    margin-left: 27%;
    margin-top: -70px;
    border-radius: 10px;
    border-style: solid;
    border-color: black;
}

.datos p {
    margin-left: 3px;
}

#estado {
    font-size: 10px;
    text-align: end;
}

.textocard p {
    text-align: justify;
}

.txtinfo {
    width: 97%;
}

.txtinfo p {
    width: 100%;
    margin-left: -1px;
    text-align: justify;
}


/*Media query*/

@media screen and (max-width: 1920px) and (min-width: 481px) {
    .card {
        width: 22%;
        margin-left: 0;
    }
    .textocard {
        margin-left: 16%;
        display: flex;
        width: 90%;
    }
    .textocard p {
        margin-top: -26%;
    }
}

@media screen and (max-width: 900px) {
    .textocard p {
        margin-top: -60%;
    }
}

@media screen and (max-width: 480px) {
    .card {
        margin-left: -15px;
        width: 92%;
    }
    .textocard p {
        margin-top: 10px;
        margin-left: 0;
    }
    .txtinfo {
        width: 90%;
    }
}

@media screen and (max-width: 300px) {
    .card {
        width: 96%;
    }
}