p {
    text-align: center;
}

.subs {
    text-align: center;
}

.general {
    width: 96%;
    display: flex;
}

table {
    width: 100%;
    background-color: azure;
    border-style: solid;
    border-color: black;
    border-radius: 10px;
    padding: 1%;
    box-shadow: 10px 10px 10px rgb(0 0 0 / 10%);
}

table tr {
    width: 100%;
}

table tr td img {
    width: 200px;
}


/*Media query*/

@media screen and (max-width: 480px) {
    .general {
        margin-left: -15px;
        width: 95%;
    }
    table {
        width: 100%;
    }
    table tr td {
        display: flex;
        width: 100%;
        margin-left: 19%;
    }
}